loglevel=warn
@it-enterprise:registry=http://tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 10/11/2019.
; begin auth token
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiJhMjU5ODBiMy05Mjk1LTRiZjMtYjYzOS0zMzk5NGMxNTg0NDciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYmU1MDcxZjItZjVjNC00ZmMxLTg2NDUtZDc1NDVkOTQ5MGE4Iiwic2lkIjoiZmJmZmMzYTMtMWJkZS00NGQwLWJhMTUtYTZhNjZkNzVkOWM5IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1NjMwMDExMDQsImV4cCI6MTU3MDc3NzEwNH0.bjvYRs7MQAk1Ln_8609ayVAQxsWwe1Wu71Igb5jidClZ4fFFFphJDi2sytJk0AMXticjNaNW3GiLa3hh5MEc5euVo0j7mTbCPF9Naii8A4N_k-7en3EMec-89ljAuom3K3g-GXMmsjgipAHYocJanhc9H7PVICxyYNBCQPDAVTnQ6sxfQ_gH9gNUOG9N8vRaAa2cqH_zdim3djeeqoql54-i-y-RVSVT2Fdr5P-hyYmoSB_INU_7UI2neJee8DAidj5p1dgXfCxEJ11hNqiClyPj_-ixouOd8PKu-_oSJ9FaYmpFoU_kf3fqSRTp5N7L9fvMX_yt4YfDuWgKUMU36w
//tfs2017:8080/tfs/DefaultCollection/_packaging/IT-Enterprise/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlRPWGd4TjhuNGhEQ3M5LUJ5YjF0QjlPdDE3WSJ9.eyJuYW1laWQiOiJhMjU5ODBiMy05Mjk1LTRiZjMtYjYzOS0zMzk5NGMxNTg0NDciLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYmU1MDcxZjItZjVjNC00ZmMxLTg2NDUtZDc1NDVkOTQ5MGE4Iiwic2lkIjoiZmJmZmMzYTMtMWJkZS00NGQwLWJhMTUtYTZhNjZkNzVkOWM5IiwiaXNzIjoidGZzMjAxNyIsImF1ZCI6InRmczIwMTciLCJuYmYiOjE1NjMwMDExMDQsImV4cCI6MTU3MDc3NzEwNH0.bjvYRs7MQAk1Ln_8609ayVAQxsWwe1Wu71Igb5jidClZ4fFFFphJDi2sytJk0AMXticjNaNW3GiLa3hh5MEc5euVo0j7mTbCPF9Naii8A4N_k-7en3EMec-89ljAuom3K3g-GXMmsjgipAHYocJanhc9H7PVICxyYNBCQPDAVTnQ6sxfQ_gH9gNUOG9N8vRaAa2cqH_zdim3djeeqoql54-i-y-RVSVT2Fdr5P-hyYmoSB_INU_7UI2neJee8DAidj5p1dgXfCxEJ11hNqiClyPj_-ixouOd8PKu-_oSJ9FaYmpFoU_kf3fqSRTp5N7L9fvMX_yt4YfDuWgKUMU36w
; end auth token